<p class="center">
	<a class="btn btn-sm btn-primary btn-block" href="mailto:support@sdchina.org.cn"><span class="glyphicon glyphicon-inbox"></span> support@sdchina.org.cn</a>
</p>

<div class="panel panel-default">
	<div class="panel-body">
		<span class="glyphicon glyphicon-earphone"></span> +86 10 590 07012<br>
		<span class="glyphicon glyphicon-print"></span> +86 10 590 07013<br>
		<span class="glyphicon glyphicon-globe"></span> <a href="http://www.sdchina.org.cn" target="_blank">http://www.sdchina.org.cn</a><br>
		<span class="glyphicon glyphicon-map-marker"></span> 814 Xincheng Commercial Building, No. 11 Chongwai Avenue, Dongcheng District, Beijing, 100062
	</div>
</div>
