<div class="well">
	<form role="form" action="https://getsimpleform.com/messages?form_api_token=bce4fd8160c05984e7d1506b0bfe3a63" method="post" enctype="multipart/form-data">

		<input type='hidden' name='redirect_to' value='https://lucaslionline.github.io/service/pages/sent.html' />

		<p>
			<input type="text" name="Name" class="form-control" placeholder="Your Name" required>
		</p>

		<p>
			<input type="email" name="Email" class="form-control" placeholder="Your Email" required>
		</p>

		<p>
			<input type="text" name="Subject" class="form-control" placeholder="Enquiry Subject" required>
		</p>

		<p>
			<textarea name="Message" rows="5" class="form-control" placeholder="Message"></textarea>
		</p>

		<p class="small gray">Your message will be delivered to the Competition Manager.</p>

		<button type="submit" class="btn btn-sm btn-primary btn-block">Send</button>
	</form>
</div>
