---
layout: wide
title: "Workshop I"
---

<div class="panel panel-default">
	<div class="panel-body center">
		<h3><span class="glyphicon glyphicon-info-sign"></span> {{ page.title }}</h3>
		<hr>

		<p>
			<span class="glyphicon glyphicon-time"></span> July 27<sup>th</sup> - 29<sup>th</sup>, 2016 &nbsp;
			<span class="glyphicon glyphicon-map-marker"></span> Dezhou, SD
		</p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#agenda" data-toggle="tab" aria-expanded="false">Agenda</a></li>

			<li><a href="#material" data-toggle="tab" aria-expanded="false">Training Materials</a></li>
		</ul>


		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="agenda">
				<br>
				{% include html/agenda1.html %}
			</div>

			<div class="tab-pane fade" id="material">
				<br>
				{% include html/resource1.html %}
			</div>
		</div>
	</div>
</div>
