---
layout: default
title: "Q & A"
---


<div class="panel panel-default">
	<div class="panel-body center">
		<h3><span class="glyphicon glyphicon-question-sign"></span> {{ page.title }}</h3>
		<hr>

		This page is exclusively for inquiries and discussions about Solar Decathlon China 2018. If you have questions or suggestions, please feel free to comment below.
	</div>
</div>


<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-body">
				{% include html/comments.html %}
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="well">
			<p class="gray"><span class="glyphicon glyphicon-comment"></span> Quick Enquiry</p>
			{% include widgets/enquiry.html %}
		</div>
	</div>
</div>

