<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Time</th>
			<th>Content</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="6">27 Jul 2016</td>
			<td>09:00 ~ 11:00</td>
			<td>Plenary Meeting</td>
		</tr>
		<tr>
			<td rowspan="4">13:00 ~ 18:00</td>
			<td>Competition Site and Logistics Interpretation</td>
		</tr>
		<tr>
			<td>Automated Scoring System and Deliverables</td>
		</tr>
		<tr>
			<td>Electrical Specification and Smart Grid</td>
		</tr>
		<tr>
			<td>Safety Training</td>
		</tr>
		<tr>
			<td>16:00 ~ 17:00</td>
			<td>Press Conference of Dezhou Municipal Government</td>
		</tr>

		<tr>
			<td rowspan="2">28 Jul 2016</td>
			<td>09:00 ~ 18:00</td>
			<td>Low-Carbon Smart Urbanization Forum</td>
		</tr>
		<tr>
			<td>19:30 ~ 21:00</td>
			<td>Team Building Activities</td>
		</tr>
		<tr>
			<td>29 Jul 2016</td>
			<td>09:00 ~ 11:00</td>
			<td>Site Survey</td>
		</tr>
	</tbody>
</table>