<!-- Carousel
	================================================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			<li data-target="#myCarousel" data-slide-to="4"></li>
			<li data-target="#myCarousel" data-slide-to="5"></li>
			<li data-target="#myCarousel" data-slide-to="6"></li>
			<li data-target="#myCarousel" data-slide-to="7"></li>
		</ol>



		<div class="carousel-inner" role="listbox">
			<div class="item active" style="background: url({{ site.baseurl }}/assets/img/service_center.jpg) center center; background-size: cover;">
				<div class="container">
					<div class="carousel-caption">
						<h1>Team Service Center</h1>
						<p>Organizing Committee of Solar Decathlon China</p>
						<p><a class="btn btn-sm btn-primary" href="mailto:support@sdchina.org.cn">support@sdchina.org.cn</a></p>
					</div>
				</div>
			</div>

			<div class="item" style="background: url({{ site.baseurl }}/assets/img/competition_site/img_1.jpg) center center; background-size: cover;">
				<div class="container">
					<div class="carousel-caption">
						<p>Aerial View of the Competition Site</p>
					</div>
				</div>
			</div>

			<div class="item" style="background: url({{ site.baseurl }}/assets/img/competition_site/img_2.jpg) center center; background-size: cover;">
				<div class="container">
					<div class="carousel-caption">
						<p>Student Cafeteria & Tower</p>
						<!--p>South Entrance</p-->
					</div>
				</div>
			</div>

			<div class="item" style="background: url({{ site.baseurl }}/assets/img/competition_site/img_3.jpg) center center; background-size: cover;">
				<div class="container">
					<div class="carousel-caption">
						<p>Greenhouse & Water Recycling Plant</p>
						<!--p>Central Plaza</p-->
					</div>
				</div>
			</div>

			<div class="item" style="background: url({{ site.baseurl }}/assets/img/competition_site/img_4.jpg) center center; background-size: cover;">
				<div class="container">
					<div class="carousel-caption">
						<p>Central Plaza & Main Auditorium</p>
						<!--p>East Entrance</p-->
					</div>
				</div>
			</div>

			<div class="item" style="background: url({{ site.baseurl }}/assets/img/competition_site/img_5.jpg) center center; background-size: cover;">
				<div class="container">
					<div class="carousel-caption">
						<p>Cafeteria Courtyard</p>
						<!--p>West Plaza</p-->
					</div>
				</div>
			</div>

			<div class="item" style="background: url({{ site.baseurl }}/assets/img/competition_site/img_6.jpg) center center; background-size: cover;">
				<div class="container">
					<div class="carousel-caption">
						<p>Service Corridor</p>
						<!--p>Northwest Corner</p-->
					</div>
				</div>
			</div>

			<div class="item" style="background: url({{ site.baseurl }}/assets/img/competition_site/img_7.jpg) center center; background-size: cover;">
				<div class="container">
					<div class="carousel-caption">
						<p>Office Courtyard</p>
						<!--p>South Plaza</p-->
					</div>
				</div>
			</div>
		</div>


		
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
<!-- /.carousel -->