<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Nominate a Juror</h3>
	</div>

	<div class="list-group">
		<div class="list-group-item">
			<form role="form" action="https://getsimpleform.com/messages?form_api_token=bce4fd8160c05984e7d1506b0bfe3a63" method="post" enctype="multipart/form-data">

				<input type='hidden' name='redirect_to' value='https://lucaslionline.github.io/service/pages/sent.html' />

				<p>Fill out information below to nominate a jury candidate for Solar Decathlon China 2018.</p>

				<p>A qualified candidate shall be an influential expert in contest-related field, and shall not directly serve a role with competing teams.</p>

				<p>Each team can nominate up to two jury candidates.</p>


				<hr>
				<p>
					<label>Nominate for Contest</label>
					<select name="Contest" class="form-control">
						<option value="N/A">- Select -</option>
						<option value="Architecture">Architecture</option>
						<option value="Market Appeal">Market Appeal</option>
						<option value="Engineering">Engineering</option>
						<option value="Communications">Communications</option>
						<option value="Innovation">Innovation</option>
					</select>
				</p>


				<hr>
				<p><i>Nominee Information</i></p>

				<p>
					<label>First Name</label>
					<input type="text" name="First Name" class="form-control">
				</p>

				<p>
					<label>Last Name</label>
					<input type="text" name="Last Name" class="form-control">
				</p>

				<p>
					<label>Gender</label>
					<select name="Gender" class="form-control">
						<option value="N/A">- Select -</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</p>

				<p>
					<label>Institution</label>
					<input type="text" name="Institution" class="form-control">
				</p>

				<p>
					<label>Title</label>
					<input type="text" name="Title" class="form-control">
				</p>

				<p>
					<label>Email</label>
					<input type="email" name="Email" class="form-control">
				</p>

				<p>
					<label>Profile Photo</label>
					<input type="file" name="Photo" class="form-control">
				</p>

				<p>
					<label>Biography</label><br>
					<i>(150~250 words, or attach a document below)</i><br>
					<textarea name="Biography" rows="6" class="form-control"></textarea>
				</p>

				<p>
					<label>Attachment</label>
					<input type="file" name="Attachment" class="form-control">
				</p>

				<p>
					<label>Reference Website</label>
					<input type="text" name="Website" class="form-control">
				</p>


				<hr>
				<p>
					<label>Nominated by</label>
					<select name="Team" class="form-control">
						<option>- Teams -</option>
						{% for team in site.teams %}
						<option value="{{ team.name }}">{{ team.num }} {{ team.name }}</option>
						{% endfor %}
					</select>
				</p>

				<p>
					<label>Reason of Nomination</label>
					<textarea name="Reason" rows="5" class="form-control"></textarea>
				</p>

				<button type="submit" class="btn btn-sm btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>