<table class="table table-striped">
	<tbody>
		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/2016-07-27-Competition_Site_and_Logistics_Interpretation.pdf" target="_blank">
					2016-07-27 Competition Site and Logistics Interpretation
					<img src="{{ site.baseurl }}/assets/img/pdf_16.png">
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/2016-07-27-Automated_Scoring_System_and_Deliverables.pdf" target="_blank">
					2016-07-27 Automated Scoring System and Deliverables
					<img src="{{ site.baseurl }}/assets/img/pdf_16.png">
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/2016-07-27-Electrical_Specification_and_Smart_Grid.pdf" target="_blank">
					2016-07-27 Electrical Specification and Smart Grid
					<img src="{{ site.baseurl }}/assets/img/pdf_16.png">
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/2016-07-27-Safety_Training.pdf" target="_blank">
					2016-07-27 Safety Training
					<img src="{{ site.baseurl }}/assets/img/pdf_16.png">
				</a>
			</td>
		</tr>
	</tbody>
</table>