<table class="table table-striped">
	<tbody>
		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/2017-01-14-Site_Operation&Construction.pdf" target="_blank">
					2017-01-14 Site Operation & Construction
					<img src="{{ site.baseurl }}/assets/img/pdf_16.png">
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/2017-01-14_Rules&Final_Competition.pdf" target="_blank">
					2017-01-14 Rules & Final Competition
					<img src="{{ site.baseurl }}/assets/img/pdf_16.png">
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/2017-01-14-Instrumentation&Scoring_System.pdf" target="_blank">
					2017-01-14 Instrumentation & Scoring System
					<img src="{{ site.baseurl }}/assets/img/pdf_16.png">
				</a>
			</td>
		</tr>

		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/2017-01-14_Grid_Connection&Data_Interconnection.pdf" target="_blank">
					2017-01-14 Grid Connection & Data Interconnection
					<img src="{{ site.baseurl }}/assets/img/pdf_16.png">
				</a>
			</td>
		</tr>
	</tbody>
</table>