---
layout: wide
---

<div class="panel panel-default">
	<div class="panel-heading">
		<a href="{{ site.baseurl }}/pages/competition/contests.html">Contests</a> &raquo; {{ page.title }} (100 points)
		<!--select class="pull-right" onchange="self.location.href=options[selectedIndex].value">
			<option>- Contest Criteria -</option>
			<hr>
			{% for post in site.categories.contests %}
			<option value="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</option>
			{% endfor %}
		</select-->
	</div>

	<div class="panel-body">
		{{ content }}
	</div>

	<div class="panel-footer">
		{% include html/pages.html %}
	</div>
</div>