---
layout: wide
---

<div class="panel panel-default">
	<div class="panel-heading">
		<a href="{{ site.baseurl }}/pages/competition/teams.html">Teams</a> &raquo; {{ page.title }}
		<!--select class="pull-right" onchange="self.location.href=options[selectedIndex].value">
			<option>- Teams -</option>
			{% for team in site.teams %}
			<option value="{{ site.baseurl }}/pages/teams/{{ team.abr }}.html">{{ team.num }} {{ team.name }}</option>
			{% endfor %}
		</select-->
	</div>


	<div id="myCarousel" class="carousel house slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>

		</ol>

		<!-- Slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active" style="background: url({{ site.baseurl }}/assets/teams/{{ page.abr }}/dd_1.png) center center; background-size: cover;">
				<div class="container">
					<div class="carousel-caption">
						<h1>{{ page.house }}</h1>
						<img class="team-logo2" src="{{ site.baseurl }}/assets/teams/{{ page.abr }}/logo.png" alt="logo">
						<p>{{ page.title }}</p>
					</div>
				</div>
			</div>


		</div>

		<!-- Nav -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>


	<div class="list-group">
		<div class="list-group-item">
			{{ content }}
		</div>
	</div>
</div>